# Configuración genérica de AutoIMG - Impulsado por DinoCode
# Se recomienda revisar la documentación de DinoCode para comprender su sintaxis y aprovechar todas sus características.
# -->  https://blassgo.github.io/DinoCode_Doc/

# ALERTA: En DinoCode por defecto se utiliza "\" para escapar carácteres especiales, sin embargo, para evitar conflictos con rutas de archivos de Windows
#         AutoIMG utiliza el caracter "`" ----> Salto de línea = `n

#*
Las KEYs son identificadores que hacen referencia a algún componente de AutoIMG. Las KEY disponibles se muestran a continuación:

   :::::::::::::::::::::::::::::::::::::::::
                KEYS para HOME:
   :::::::::::::::::::::::::::::::::::::::::
   header = Texto "AutoIMG" en la cabecera
   line = Texto "------" en la cabecera
   find_device = Botón "Find My Devices"
   console = El espacio en donde todo el texto se imprime
   reboot = Interruptor "Reboot"
   format_data = Interruptor "Format Data"
   disable_verify = Interruptor "Disable Verify"
   install = Botón INSTALL

   :::::::::::::::::::::::::::::::::::::::::
              KEYS para REBOOT:
   :::::::::::::::::::::::::::::::::::::::::
   only_reboot = Botón Reboot
   reboot_fastboot = Botón Fastboot
   reboot_recovery = Botón Recovery

   :::::::::::::::::::::::::::::::::::::::::
             KEYS para SETTINGS:
   :::::::::::::::::::::::::::::::::::::::::
   default_mode = fastboot (1) o fastbootd (2)
   preferences = Interruptor "Save my preferences"
   force_install = Interruptor "Force the Installation"
   ensure_recovery = Interruptor "Prioritize Recovery"
   all_formats = Interruptor "Enable All file formats"
   config_tracking = Interruptor "Enable Config Tracking"

   :::::::::::::::::::::::::::::::::::::::::
               KEYS ESPECIALES:
     Estas KEYs solo admiten la acción "presionar"
   :::::::::::::::::::::::::::::::::::::::::
   select = Botón "Select File"
   clean = Limpieza de Config
   install_manager = Installation Manager
*#

#*
Las KEY admiten acciones específicas que se muestran a continuación:
   
   actualizar_key KEY con "NUEVO ESTADO" // Cambia el estado de la KEY, el comportamiento varía según el tipo de elemento al que hace referencia la KEY
   activar KEY // Activar Interruptor
   desactivar KEY // Desactivar Interruptor
   ocultar KEY // Ocultar esta sección
   mostrar KEY // Mostrar esta sección
   presionar KEY // Simula presionar este botón
   color "COLOR HEXADECIMAL" en KEY // Cambia el color del texto
   mover KEY hacia "Nueva posición xy, por ejemplo x10 y10 o Nueva altura y ancho, por ejemplo w10 h10"
*#

#*
   ARCHIVO = Una ruta de archivo válida para la computadora (Windows)
   RUTA DEL DISPOSITIVO = Una ruta válida dentro del dispositivo Android
   ARCHIVO DEL DISPOSITIVO = Un archivo válido y existente dentro del dispositivo Android

   Algunas acciones adicionales:
      activar_barra // Activa la barra de progreso
      añadir_progreso Número // Agrega el porcentaje de "Número" a la barra de progreso actualmente activa
      desactivar_barra // Restablecer y deshabilitar la barra de progreso
      adb "parámetros" <Tiempo> // Ejecuta adb.exe con parámetros específicos. Si se especifica "Tiempo", la acción se detendrá a la fuerza si excede ese período
      fastboot "parámetros" <Tiempo> // Ejecuta fastboot.exe con parámetros específicos. Si se especifica "Tiempo", la acción se detendrá a la fuerza si excede ese período
      adb_serial "parámetros" <serial> <Tiempo> // Versión extendida de la acción "adb" con soporte para SERIAL de un dispositivo
      fastboot_serial "parámetros" <serial> <Tiempo> // Versión extendida de la acción "fastboot" con soporte para SERIAL de un dispositivo
      shell "Comando" // Ejecuta un comando Shell Script en el dispositivo Android
      dormir Tiempo // Pausa por N milisegundos, 3000 = 3 segundos
      imprimir "Texto" <falso> // Imprimir texto en la consola, "falso" evita hacer un salto de línea
      abortar "Texto" <falso> // Termina la ejecución y limpia cualquier instalación/configuración actual (Informado como error de Config)
      salir // Termina la ejecución pero mantiene las configuraciones precargadas (no se informa como error de Config)
      mensaje <Titulo> con "Texto" // Muestra un mensaje
      timed_msg "Texto" Tiempo <verdadero> // Muestra un mensaje durante N milisegundos, si se especifica "verdadero", el mensaje se colocará en la parte superior de la ventana del tool y lo seguirá
      seccion TAG // Permite llamar una sección TAG
      hacialink "Link" // Abrir un link (Navegador por defecto)
      descargar "Link" en "ARCHIVO" con <OPCIONES> // Obtener un archivo desde un enlace de descarga directa (si el destino sale fuera de %HERE% o %TOOL%, necesitará la aprobación del usuario) // Las opciones especiales se aclaran en el thread
      pregunta <Titulo> con "¿Alguna pregunta?" // Permite hacer preguntas de sí/no
      opcion <Titulo> <Mensaje> con "Primera opcion" "Segunda opcion" "Tercera opcion" "..." // Permite solicitar una opción al usuario
      instalar "ARCHIVO" en "NOMBRE DE PARTICIÓN" con <configuraciones extra> // Cargue un archivo de instalación para Fastboot (Solo lo carga, para una instalación posterior)
      eliminar "NOMBRE DE PARTICIÓN" // Eliminar una partición desde FastbootD antes de la instalación (dispositivos compatibles)
      crear "NOMBRE DE PARTICIÓN" con "TAMAÑO en KB/MB/GB/B" // Crear una partición desde FastbootD antes de la instalación (dispositivos compatibles)
      boot "ARCHIVO" // Bootear IMG desde Fastboot (dispositivos compatibles)
      formatear_data // Formatear los datos del dispositivo (compatible con Fastboot/FastbootD y Custom Recovery)
      asegurar_tmp  // Crea un directorio temporal en el dispositivo y se guarda en la variable %TMP%
      enviar "ARCHIVO" hacia "RUTA DEL DISPOSITIVO" // Enviar un archivo al dispositivo
      actualizar "ARCHIVO DEL DISPOSITIVO" en "NOMBRE DE PARTICIÓN" // Busca la partición e instala un archivo del dispositivo ya existente en tiempo real (Solo modos compatibles como Custom Recovery)
      actualizar_enviar "ARCHIVO" en "NOMBRE DE PARTICIÓN" // Busca la partición, envía el archivo al dispositivo y lo instala en tiempo real (Solo modos compatibles como Custom Recovery)
      actualizar_ramdisk "ARCHIVO DEL DISPOSITIVO" en "NOMBRE DE PARTICIÓN" // Busca la partición y actualiza la ramdisk con un archivo del dispositivo ya existente (Solo modos compatibles como Custom Recovery)
      actualizar_ramdisk_enviar "ARCHIVO" en "NOMBRE DE PARTICIÓN" // Busca la partición, envía el archivo al dispositivo y actualiza la ramdisk con él (Solo modos compatibles como Custom Recovery)
      actualizar_kernel "ARCHIVO DEL DISPOSITIVO" en "NOMBRE DE PARTICIÓN" // Busca la partición y actualiza el kernel con un archivo del dispositivo ya existente (Solo modos compatibles como Custom Recovery)
      actualizar_kernel_enviar "ARCHIVO" en "NOMBRE DE PARTICIÓN" // Busca la partición, envía el archivo al dispositivo y actualiza el kernel con él (Solo modos compatibles como Custom Recovery)
      instalar_ramdisk_recovery "NOMBRE DE PARTICIÓN" // Busca la partición, genera una Ramdisk con el Custom Recovery actual y la instala (Solo modos compatibles como Custom Recovery)
      esperar_dispositivo "Número de intentos" // Intenta buscar un dispositivo por N intentos 
      esperar_shell // Esperar a que ADB SHELL esté disponible
      guardar "NOMBRE" con "VALOR" en "ARCHIVO" // Guarda un VALOR (una línea) vinculado a un NOMBRE en un archivo externo
      obtener_guardado "ARCHIVO" // Obtiene todos los VALORES de un registro creado con "guardar", convirtiendo los NOMBRES en Variables utilizables
      unzip "ARCHIVO" "DESTINO" <OPCIONES> // Permite extraer archivos ZIP, admite OPCIONES detalladas en el thread
*#



##############################################################
#:::::::::::::::::::::::::::::::::::::::::
# SCRIPT PLANTILLA
#:::::::::::::::::::::::::::::::::::::::::


# MIS TAGs PERSONALES

:bienvenida
   Mensaje "Bienvenido" con "Bienvenido a RefinedUI! `n`nEste es un Config script de prueba..."
   
:opcion_1
   Mensaje "Prueba" con  "Seleccionaste la `"opción 1`""

:opcion_2
   Mensaje "Prueba" con "Seleccionaste la  `"opción 2`""

:opcion_3
   Mensaje "Prueba" con "Seleccionaste la  `"opción 3`""
   

# TAGS NATIVOS (Estos TAG se ejecutan en momentos específicos durante una instalación AutoIMG convencional.)
   
:before_delete
   Mensaje "Prueba" con "Comenzará la eliminación de particiones!"
   
:after_delete
   Mensaje "Prueba" con "Eliminación de particiones finalizada!"

:before_create
   Mensaje "Prueba" con "Comenzará la creación de particiones!"

:after_create
   Mensaje "Prueba" con "Creación de particiones finalizada!"

:before_img
   Mensaje "Prueba" con "Comenzará la instalación de IMGs!"

:after_img
   Mensaje "Prueba" con "La instalación de IMGs finalizó con éxito!"

:before_zip
   Mensaje "Prueba" con "Comenzará la instalación de ZIPs!"

:after_zip
   Mensaje "Prueba" con "La instalación de ZIPs finalizó con éxito!"

:after_all
   Mensaje "Prueba" con "La instalación de IMGs/ZIPs/.... terminó!"

:before_reboot
   Mensaje "Prueba" con "Su dispositivo se reiniciará!"
   
:after_reboot
   Mensaje "Prueba" con "Okay, reiniciado"

:after
   Mensaje "FINAL" con "Instalación terminada, disfruta!"




:main

   #Activar / desactivar interruptores
   Activar reboot
   Activar format_data
   Activar disable_verify
   Activar force_install
   Desactivar format_data

   #Cambiar el modo por defecto a "fastbootD" (opción 2)
   Actualizar_key default_mode Con 2
   
   #Cambiar el SLOT por defecto a "b"
   Actualizar_key default_slot Con "b"
   
   #Cambiar los formatos compatibles predeterminados para el Selector de archivos
   Definir formats Con "img" "bin" "mbn" "elf"
   
   #Si desea restaurar a los formatos de archivo predeterminados
   #Definir formats Con ""
   
   #Definir una variable personalizada
   Definir nombre_rom Con "RefinedUI"
   
   #Para limpiar la consola puedes usar:
   Actualizar_key console Con ""

   #Nuevas impresiones
   imprimir
   imprimir "--------------------------------------------------------"
   imprimir "                  Instalación de %nombre_rom% "
   imprimir "--------------------------------------------------------"
   imprimir

   #Mostrar un mensaje de bienvenida (llamando un TAG personalizado)
   Sección bienvenida
   
   #Preguntar algo
   Si $(Pregunta "INICIO" con "Desea continuar?")
      Mensaje "Pregunta" con "Yeah!"
   SiNo
      Mensaje "Pregunta" con "No!"
      Abortar ">> Se abortó la instalación de RefinedUI"   
   
   #Crear un menu de selección
   Definir RESULTADO con $(Opción Con "Mi opción 1" "Mi opción 2" "Mi opción 3")
   Si (RESULTADO=1)
       Sección opcion_1
   SiNo Si (RESULTADO=2)
       Sección opcion_2
   SiNo Si (RESULTADO=3)
       Sección opcion_3
   
   #DinoCode es muy flexible, por lo que tiene muchas formas de llegar al mismo resultado.
   Sección "opcion_$(Opción Con "Mi opción 1" "Mi opción 2" "Mi opción 3")"
   
   #También puede incluir un mensaje adicional y cambiar el título de la ventana de opciones
   Definir RESULTADO con $(Opción "Título" "Por favor seleccione una opción................................................" Con "Mi opción 1" "Mi opción 2" "Mi opción 3")
   Sección "opcion_%RESULTADO%"

   #Ocultar el texto "-----" para obtener más espacio en la cabecera
   Ocultar line

   #Incrementar el ancho de "header"
   # x = posición horizontal
   # y = posición vertical
   # w = ancho
   # h = altura
   Mover header hacia "w400"
   
   #Cambiar el color del texto
   Color "02E27B" en header

   #Cambiar el texto "AutoIMG" con "RefinedUI Install"
   Actualizar_key header con "RefinedUI Install"

   #Cambiar el texto "Find My Devices" con "Find Device" para obtener más espacio
   Actualizar_key find_device con "Find Device"

   #Como "RefinedUI Install" ocupa mucho espacio, es necesario mover el botón "find_device"
   Mover find_device hacia "x200 y45"



   #SCRIPT DE INSTALACIÓN GENERAL
   
   #Puedes eliminar particiones (Solo Dynamic Partitions)
   #eliminar system_a
   #eliminar product_a

   #Puedes crear particiones (Solo Dynamic Partitions)
   #crear system_a con "2GB"
   #crear product_a con "200MB"

   #Cargar archivos de instalación
   #instalar "carpeta\huh.img" en recovery

   #Para hacer referencia a la ruta desde la que se cargó el CONFIG, utilice %HERE%
   #instalar "%HERE%\system.img" en system

   #Para hacer referencia a la ruta donde se encuentra el tool, utilice %TOOL%
   #instalar "%TOOL%\system.img" en system

   #Si es necesario, puede agregar configuraciones adicionales para fastboot.exe
   #instalar "%HERE%\vbmeta.img" en vbmeta con "--disable-verity --disable-verification"
   
   #Para cargar un ZIP en vez de poner la partición, usar "ZIP FILE"
   #instalar "%HERE%\custom.zip" en "ZIP FILE"
   
   #Para cargar un ZIP de ACTUALIZACIÓN en lugar de poner la partición, usar "UPDATE FILE"
   #instalar "%HERE%\update.zip" en "UPDATE FILE"