# Generic AutoIMG Config - Powered by DinoCode
# It is recommended to review the DinoCode documentation to understand its syntax and take advantage of all its features.
# -->  https://blassgo.github.io/DinoCode_Doc/

# WARNING: In DinoCode, by default, "\" is used to escape special characters, however, to avoid conflicts with Windows file paths
#          AutoIMG uses the "`" character ----> Line break = `n

#*
The KEYS are identifiers that refer to some component of the AutoIMG. The available KEYs are shown below:

   :::::::::::::::::::::::::::::::::::::::::
                KEYS for HOME:
   :::::::::::::::::::::::::::::::::::::::::
   header = "AutoIMG" text in tne header
   line = "------" text in the header
   find_device = "Find My Devices" button
   console = The space where all the text is printed
   reboot = Reboot checkbox
   format_data = Format Data checkbox
   disable_verify = Disable Verify checkbox
   install = INSTALL button

   :::::::::::::::::::::::::::::::::::::::::
              KEYS for REBOOT:
   :::::::::::::::::::::::::::::::::::::::::
   only_reboot = Reboot button
   reboot_fastboot = Fastboot button
   reboot_recovery = Recovery button

   :::::::::::::::::::::::::::::::::::::::::
             KEYS for SETTINGS:
   :::::::::::::::::::::::::::::::::::::::::
   default_mode = fastboot (1) or fastbootd (2)
   preferences = "Save my preferences" checkbox
   force_install = "Force the Installation" checkbox
   ensure_recovery = "Prioritize Recovery" checkbox
   all_formats = "Enable All file formats" checkbox
   config_tracking = "Enable Config Tracking" checkbox

   :::::::::::::::::::::::::::::::::::::::::
               SPECIAL KEYS:
     This keys only supports "press" action
   :::::::::::::::::::::::::::::::::::::::::
   select = Select File
   clean = Config Cleanup
   install_manager = Installation Manager
*#

#*
The KEYs support specific actions that are shown below:
   
   update_key KEY with "NEW STATE" // Change the state of the KEY, the behavior varies depending on the type of element to which the KEY refers
   enable KEY // Enable checkbox
   disable KEY // Disable checkbox
   hide KEY // Hide this section
   show KEY // Show this section
   press KEY // Simulate pressing this button
   color "HEX CODE COLOR" in KEY // Change the text color
   move KEY to "New xy position, for example x10 y10 or New height and weigh, for example w10 h10"
*#

#*
   FILE = A valid file path for the computer (Windows)
   DEVICE PATH = A valid path within the Android device
   DEVICE FILE = A valid and existing file within the Android device

   Some additional actions:
      enable_bar // Activate the progress bar
      add_progress Number // Adds "Number" percentage to the currently active progress bar
      disable_bar // Reset and disable the progress bar
      adb "parameters" <Time> // Run adb.exe with specific parameters. If "Time" is specified, the action will stop forcibly if it exceeds that period
      fastboot "parameters" <Time> // Run fastboot.exe with specific parameters. If "Time" is specified, the action will stop forcibly if it exceeds that period
      adb_serial "parameters" <serial> <Time> // Extended version of the "adb" action with support for SERIAL of a device
      fastboot_serial "parameters" <serial> <Time> // Extended version of the "fastboot" action with support for SERIAL of a device
      shell "Command" // Execute shell script command on Android device
      sleep Time // Pause for N miliseconds, 3000 = 3 seconds
      print "Text" <false> // Print text in the console, "false" avoids making a line break
      abort "Text" <false> // Terminate execution and clean any current installation/config (Reported as Config failed)
      exit // Terminates execution but keeps already preloaded configs (Not reported as Config failed)
      msg <TITLE> with "Text" // Show some message
      timed_msg "Text" Time <true> // Show some message for N milliseconds, if "true" is specified the message will be placed on top of the Tool window and will follow it
      section TAG // Allows you to call a TAG section
      gotolink "Link" // Open a link (Default browser)
      download "Link" in "FILE" with <OPTIONS> // Get a file from a direct download link (If the destination exits outside of %HERE% or %TOOL%, it will need user approval) // Downloads support options clarified in the thread
      question <Title> with "Some question?" // Allows to ask yes/no questions
      option <Title> <Message> with "First Option" "Second Option" "Third option" "..." // Allows request an option
      install "FILE" in "PARTITION NAME" with <extra configs> // Load an installation file for Fastboot (It only loads it, for a later installation)
      delete "PARTITION NAME" // Delete partition from FastbootD before the installation (Supported devices)
      create "PARTITION NAME" with "SIZE in KB/MB/GB/B" // create partition from FastbootD before the installation (Supported devices)
      boot "FILE" // Boot IMG from Fastboot (Supported devices)
      format_data // Format device data (Support Fastboot/FastbootD and Custom Recovery)
      ensure_tmp  // Create a temporary directory on the device and save it in a variable %TMP%
      push "FILE" to "DEVICE PATH" // Send a file to the device
      update "DEVICE FILE" in "PARTITION NAME" // Find a partition and install an already existing device file in real time (Only supported modes as Custom Recovery)
      update_push "FILE" in "PARTITION NAME" // Find a partition, send the file to the device and install it in real time (Only supported modes as Custom Recovery)
      update_ramdisk "DEVICE FILE" in "PARTITION NAME" // Find a partition and update the ramdisk with an already existing device file (Only supported modes as Custom Recovery)
      update_ramdisk_push "FILE" in "PARTITION NAME" // Find a partition, send the file to the device and update the ramdisk with it (Only supported modes as Custom Recovery)
      update_kernel "DEVICE FILE" in "PARTITION NAME" // Find a partition and update the kernel with an already existing device file (Only supported modes as Custom Recovery)
      update_kernel_push "FILE" in "PARTITION NAME " // Find a partition, send the file to the device and update the kernel with it (Only supported modes as Custom Recovery)
      install_recovery_ramdisk "PARTITION NAME" // Find a partition, generate the Ramdisk of the current Custom Recovery and install it (Only supported modes as Custom Recovery)
      wait_device "Number of attemps" // Try to find a device for N attempts
      wait_shell // Wait for ADB SHELL to be available
      save "NAME" with "VALUE" in "FILE" // Saves a VALUE (One line) linked to a NAME in an external file
      getsaved "FILE" // Gets all the VALUES of a record created with "save", turning the NAMEs into usable Variables
      unzip "FILE" "DEST" <OPTIONS> // Allows extracting ZIP files, supports detailed OPTIONS in the thread
*#



##############################################################
#:::::::::::::::::::::::::::::::::::::::::
# TEMPLATE SCRIPT
#:::::::::::::::::::::::::::::::::::::::::


#MY CUSTOM TAGS

:welcome
   msg "Welcome" with "Welcome to RefinedUI! `n`nThis is a test Config script..."
   
:option_1
   msg "Test" with  "You selected `"option 1`""

:option_2
   msg "Test" with "You selected `"option 2`""

:option_3
   msg "Test" with "You selected `"option 3`""
   

#NATIVE TAGS (These TAGs are executed at specific times during a conventional AutoIMG installation.)
   
:before_delete
   msg "Test" with "Partition deletion will start!"
   
:after_delete
   msg "Test" with "Partition deletion finished!"

:before_create
   msg "Test" with "Partition creation will start!"

:after_create
   msg "Test" with "Partition creation finished!"

:before_img
   msg "Test" with "The installation of IMGs will start!"

:after_img
   msg "Test" with "The installation of IMGs finished successfully!"

:before_zip
   msg "Test" with "The installation of ZIPs will start!"

:after_zip
   msg "Test" with "The installation of ZIPs finished successfully!"

:after_all
   msg "Test" with "The installation of IMGs / ZIPs / .... finished!"

:before_reboot
   msg "Test" with "Your device will reboot!"
   
:after_reboot
   msg "Test" with "Okay, rebooted"

:after
   msg "FINISH" with "Installation finished, enjoy!"




:main

   #Enable / disable checkboxes
   Enable reboot
   Enable format_data
   Enable disable_verify
   Enable force_install
   Disable format_data

   #Change the default mode to "fastbootD" (option 2)
   Update_key default_mode With 2
   
   #Change the default SLOT to "b"
   Update_key default_slot With "b"
   
   #Change default supported formats for the File Selector
   Set formats With "img" "bin" "mbn" "elf"
   
   #If you want to restore to the default file formats
   #Set formats With ""
   
   #Set custom variable
   Set rom_name With "RefinedUI"
   
   #To clean the console you con do:
   Update_key console With ""

   #New prints
   print
   print "--------------------------------------------------------"
   print "                  %rom_name% Installation"
   print "--------------------------------------------------------"
   print

   #Show a Welcome Message (By calling a custom TAG)
   Section welcome
   
   #Ask something
   If $(Question "SETUP" with "Do you want to continue?")
      Msg "Question" with "Yeah!"
   Else
      Msg "Question" with "No!"
      Abort ">> Aborted RefinedUI Installation"   
   
   #Create a selection menu
   Set RESULT with $(Option With "My custom option" "My custom option 2" "My custom option 3")
   If (RESULT=1)
       Section option_1
   Else If (RESULT=2)
       Section option_2
   Else If (RESULT=3)
       Section option_3
   
   #DinoCode is very flexible, so it has many ways to get to the same result.
   Section "option_$(Option With "My custom option" "My custom option 2" "My custom option 3")"
   
   #You can also include an additional message and change the title of the options window
   Set RESULT with $(Option "Title" "Please select some option................................................" With "My custom option" "My custom option 2" "My custom option 3")
   Section "option_%RESULT%"

   #Hide "-----" text to get more space in the header
   Hide line

   #Increase the weight of "header" text
   # x = horizontal position
   # y = vertical position
   # w = weight
   # h = height
   Move header to "w400"
   
   #Change text color
   Color "02E27B" in header

   #Change "AutoIMG" text with "RefinedUI Install"
   Update_key header with "RefinedUI Install"

   #Change "Find My Devices" text with "Find Device" to get more space
   Update_key find_device with "Find Device"

   #As "RefinedUI Install" occupies a lot of space it is necessary to move the "find_device" button
   Move find_device to "x200 y45"



   #GENERAL INSTALLATION SCRIPT
   
   #You can delete partitions (Only Dynamic Partitions)
   #delete system_a
   #delete product_a

   #You can create partitions (Only Dynamic Partitions)
   #create system_a with "2GB"
   #create product_a with "200MB"

   #Load installation files
   #install "folder\huh.img" in recovery

   #To refer to the path from which the Config was loaded, use %HERE%
   #install "%HERE%\system.img" in system

   #To refer to the path where the Tool was located, use %TOOL%
   #install "%TOOL%\system.img" in system

   #If necessary, you can add extra configs for fastboot.exe
   #install "%HERE%\vbmeta.img" in vbmeta with "--disable-verity --disable-verification"
   
   #To load a ZIP instead of putting the partition, put "ZIP FILE"
   #install "%HERE%\custom.zip" in "ZIP FILE"
   
   #To load a UPDATE ZIP instead of putting the partition, put "UPDATE FILE"
   #install "%HERE%\update.zip" in "UPDATE FILE"